.container {
    background: linear-gradient(10deg, whitesmoke, grey);
    justify-content: center;
    align-items: center;
    height: 650px;
    display: flex;
}

#left-box {
    font-family: 'Equinox', sans-serif;
    font-weight: 900;
    font-size: 28px;
    height: 500px;
    width: 500px;
    background-color: hsl(0, 100%, 100%);
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#right-box {
    font-family: 'Equinox', sans-serif;
    font-weight: 900;
    font-size: 28px;
    height: 500px;
    width: 500px;
    background-color: #f0f0f0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

img {
    height: 300px;
    width: 400px;
    display: block;
    opacity: 0.9;
    border-radius: 8px;
    border: 2px solid black;
    margin-left: 25px;
}

#r-title {
    margin: 0;
}

#quantity {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 54%;
    display: flex;
    background-color: white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    height: 2em;
}

input[type="number"] {
    text-align: center;
    font-size: 25px;
    border: none;
    background-color: white;
    color: black;
}

input[type="number"]:hover {
   scale: 1.2;
   transition: 0.7s;
   border: 3px solid black;
}

input::-webkit-outer-spin-button ,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

button {
    color:black;
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 900;
}

#decrement {
    padding: 5px 5px 15px 25px;
    border-radius: 45px 0 0 45px;
    font-size: 25px;
}

#increment {
    padding: 15px 15px 15px 5px;
    border-radius: 0 45px 45px 0;
}

#decrement:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
}

#increment:hover {
    background-color: black;
    transition: 0.4s;
    color: white;
}

button:hover {
    border: white;
    scale:1.02;
}

h4 {
    margin: 0;
    float: left;
    font-weight: 100;
    letter-spacing: -1.5px;
    font-size: 20px;
    text-decoration: underline;
    padding-left: 10px
}

.product img {
    max-width: 100%;
    min-width: 20rem;    
}

#left-box {
    display: grid;
    place-items: center;
}

.product-nav label {
    display: inline-block;
    width: 3vmax;
    height: 3vmax;
    background-color: hsl(0, 0%, 0%);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0.5em #fff, 0.5em 0.5em 1em -0.15em rgba(0, 0, 0, 0.25);
}

.product-nav label + label {
    margin-left: 1.5em;
}

.product-nav>label:nth-of-type(1), 
#color-1:checked ~ .product::after {
    background-color: hsl(0deg 79.61% 41.06%);  
}

.product-nav>label:nth-of-type(2),
#color-2:checked ~ .product::after {
    background-color: hsl(100, 0%, 0%);
}

.product-nav>label:nth-of-type(3), 
#color-3:checked ~ .product::after {
    background-color: hsl(188deg 70.8% 21.98%);
}

.product-nav>label:nth-of-type(4),
#color-4:checked ~ .product::after {
    background-color: hsl(27, 95%, 40%);
}

#color-1:checked ~ .product-nav > label:nth-of-type(1), 
#color-2:checked ~ .product-nav > label:nth-of-type(2),
#color-3:checked ~ .product-nav > label:nth-of-type(3),
#color-4:checked ~ .product-nav > label:nth-of-type(4){
    transform: scale(1.3);
}

.product::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(0, 100%, 100%); 
    mix-blend-mode: hue;
}

.product-nav{
    position: relative;
}

#submit {
    border-radius: 40px;
    float: right;
    vertical-align: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    align-items: flex-end;
    align-content: flex-end;
    top: 76%;
    left: 70%;
    font-size: 20px;
    font-weight: 100;
    background: limegreen;
    padding: 15px 55px 15px 55px;
    letter-spacing: -1px;
}

#submit:hover {
    letter-spacing: 1px;
    color: white;
    transition: 0.2s;
    scale: 1.1;
    text-decoration: underline;
    border: 2px solid black;
}

#p1 {
    margin: 0;
    display: none;
}

#qnty {
    position: absolute;
    display: flex;
    bottom: 70%;
}

#p2 {
    margin: 0;
    float: left;
    font-weight: 100;
    letter-spacing: -1.5px;
    font-size: 20px;
    padding-left: 0.5em
}

#p3 {
    font-weight: 100;
    float: left;
    padding-left: 0.4em;
}

span.total {
    padding-left: 1px;
}

#p4 {
    float: left;
    font-weight: 100;
    display: block;
    letter-spacing: -1.5px;
    font-size: 20px;
    position: absolute;
    left: 51%;
    top: 30%;
}

#line {
    width: 20%;
    height: 2px;
    background-color: black;
    position: absolute;
    display: block;
    top: 30%;
    margin-left: 0.3em;
}

